<article class="google-card">
  <header>
    <h1>
      Home
    </h1>
    <h4>
      Some witty subtitle
    </h4>
  </header>
  
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint nesciunt sapiente repellat vero reprehenderit reiciendis quae saepe laborum nihil recusandae suscipit enim animi ab vel dolorem dolor quos eos maiores? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi soluta illo voluptatum quod itaque modi nostrum ea perferendis aliquam unde voluptates voluptatem distinctio dicta rerum officiis deleniti similique porro fugiat.</p>
</article>