<article class="google-card">
  <header>
    <h1>
      Lost and Found
    </h1>
    <h4>
      Give the honest finder a way to contact you
    </h4>
  </header>
  
  <p>Everyone hates losing shit. Whenever we do, we lose faith in humanity. We want to restore faith in humanity, by making it ridiculously easy and effort-less to return found items to their rightful owner.</p>
  
  <p>You found an item listed on *******?</p>
  <p><input type="text"><a href="#" class="button submit">Find</a></p>
</article>


<article class="google-card width-300">
  <header>
    <img src="http://lorempixel.com/200/200" alt="">
    <h3>Free Listings forever</h3>
    <p>Forever Free, finders can contact you and what not</p>
  </header>
</article>

<article class="google-card width-300">
  <header>
    <img src="http://lorempixel.com/200/200" alt="">
    <h3>Pre-paid Shipping Labels</h3>
    <p>Make it easy for the honest finder, allow him to simply print the shipping label</p>
  </header>
</article>

<article class="google-card width-300">
  <header>
    <img src="http://lorempixel.com/200/200" alt="">
    <h3>Finder's fee</h3>
    <p>Reward people for their good behavior</p>
  </header>
</article>



<article class="google-card">
  <header>
    <h3>Sign up now</h3>
  </header>
  
  <p>Sign up to create your free listings and optionally order them from MOO.</p>
  
  <p><a href="#" class="button submit">Sign up</a></p>
</article>
